@model Prenotazione;
@{
    ViewData["Title"] = "Conferma";
}
<div>
<label for="Nome">@Model.Nome</label>
</div>

<div>
<label for="Cognome">@Model.Cognome</label>
</div>
<div>
<label for="Email">@Model.Email</label>
</div>

<div>
<label for="Data di nascita">@Model.DataDiNascita</label>
</div>

<div>
<label for="Sesso">@Model.Sesso</label>
</div>

<div>
<label for="Ruolo">@Model.Ruolo</label>
</div>